:root {
  --background-color: var(--dark-grey);
  --primary-color: #8591ce;
  --secondary-color: #eca2bd;
  --dark-grey: #2d2d2d;
  --med-dark-grey: #6a6a6a;
  --med-grey: #989898;
  --light-grey: #d9d9d9;
  --red: #e66779;
  --green: #a2d5c6;
  --blue: var(--primary-color);
  --white: #fff;
  --black: #000;
}

/* override body styles */
body {
  background: var(--background-color);
  /* default text colors: change maybe? */
  color: var(--light-grey);
  font-family: "Rubik";
}

/* Scrollbar styles */
/* TODO: PICK SCROLLBAR COLORS */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--med-grey);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  overflow: auto;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--med-grey);
  border-radius: 20px;
}

.rm-primary-color {
  color: var(--primary-color);
}
.rm-secondary-color {
  color: var(--secondary-color);
}
.rm-dark-grey {
  color: var(--dark-grey);
}
.rm-med-dark-grey {
  color: var(--med-dark-grey);
}
.rm-med-grey {
  color: var(--med-grey);
}
.rm-light-grey {
  color: var(--light-grey);
}
.rm-red {
  color: var(--red);
}
.rm-green {
  color: var(--green);
}
.rm-blue {
  color: var(--blue);
}
.rm-white {
  color: var(--white);
}
.rm-black {
  color: var(--black);
}

/* Font size */
.rm-xl-font {
  font-size: 2rem;
}
.rm-lg-font {
  font-size: 1.25rem;
}
.rm-md-font {
  font-size: 1rem;
}
.rm-sm-font {
  font-size: 0.875rem;
}
.rm-xs-font {
  font-size: 0.625rem;
}

.rm-curser-pointer {
  cursor: pointer;
}

.rm-capitalize {
  text-transform: capitalize;
}

/* Nav Bar Styles */
.rm-nav {
  max-width: 100%;
  height: 80px;
  position: sticky;
  top: 0rem;
  padding-left: 40px !important;
  margin: 0px !important;
  z-index: 1000;
  /* TODO: new navbar color? */
  background-color: var(--background-color);
}

.rm-nav img {
  padding: 0px;
  margin-left: auto;
  width: 50px;
}

.rm-search {
  color:#fff !important;
  border-radius: 20px;
  width: 60vw;
  height: 40px;
  margin-right: 5%;
  border:2px solid #6a6a6a !important;
  background-color: #404040;
  display: inline-flex;
}

/* Carousel styles */
.rm-carousel-container {
  position: relative;
  padding-left: 2vw;
  padding-right: 2vw;
  min-width: 364px;
}

.rm-carousel {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-snap-type: x mandatory;
}

.rm-carousel-item {
  scroll-snap-align: start;
}

.rm-carousel-button {
  background-color: var(--white);
  position: absolute;
  width: fit-content;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  top: 50%;
}

.rm-carousel-button:hover {
  background-color: var(--light-grey);
}

.rm-carousel-button:disabled {
  opacity: 1;
}

/* Profile */
#rm-profile-picture {
  width: 18vw;
  height: 18vw;
}

.rm-private-both {
  color:#eca2bd;
}

.rm-join-date {
  color:#bbbbbb;
}

/* Profile listing */
.rm-profile-listing {
  width: 31%;
  min-width: 280px;
  margin: 1%;
  background-color: #404040;
  border: 1px solid #8591ce;
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 12px;
}
.rm-profile-listing p {
  margin-bottom: 10px;
  padding: 0;
  font-size: 14px;
  color:#bbbbbb;
}

.rm-profile-listing h4 {
  margin-bottom: 0;
}
.rm-profile-listing .rm-listing-img {
  scale: 1.2;
  object-fit: none;
  width: 60px;
  height: 60px;
}

/* Profile Review */

.nav-link {
  color:#8591ce !important;
  font-weight: 900 !important;
}

.rm-profile-review {
  width: 23%;
  min-width: 255px;
  margin: 1%;
  background-color: var(--primary-color);
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 12px;
}

/* Profile Review Modal */
.rm-profile-review-modal .modal-content {
  background-color: var(--dark-grey);
}

/* small pokemon */
.rm-small-pokemon {
  position: relative;
  width: 300px;
  height: 190px;
  background-color: var(--primary-color);
  border-radius: 12px;
  margin: 20px;
  margin-top: 120px;
  padding: 6px;
  cursor: pointer;
}
.rm-small-pokemon .rm-pokemon-name-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, var(--secondary-color));
  opacity: 0.5;
  border-radius: 0 0 12px 12px;
  margin: 0;
  padding: 0;
}
.rm-small-pokemon .rm-pokemon-name {
  position: absolute;
  bottom: 5%;
  left: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  padding-right: 5%;
  text-shadow: 1px 1px 1px var(--dark-grey);
}
.rm-small-pokemon .rm-pokemon-image {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 5%;
  transition: all 0.25s ease-in-out;
}

/* hover animation */
.rm-small-pokemon:hover .rm-pokemon-image {
  bottom: 15%;
  transition: all 0.25s ease-in-out;
}

/* large pokemon view */
.rm-large-pokemon {
  padding-left: 15%;
  padding-right: 15%;
}
.rm-large-pokemon .rm-pokemon-name {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--white);
  text-align: start;
  margin: 0;
  padding: 0;
}
.rm-large-pokemon .rm-pokemon-image {
  width: 30vw;
  min-width: 300px;
  height: 30vw;
  min-height: 300px;
  border-radius: 5%;
  padding: 5px;
  background-color: var(--light-grey);
  margin-right: 10px;
}
.rm-large-pokemon .rm-pokemon-info {
  font-size: 1rem;
}
.rm-large-pokemon .rm-pokemon-left {
  width: 30vw;
  min-width: 300px;
  margin-right: 10px;
}
.rm-loading-image {
  width: 80%;
  min-width: 50%;
}

.rm-large-listings {
  padding-top: 60px;
  padding-left: 20px;
}

/* Pokemon Types */
.rm-type {
  border-radius: 16px;
  border: 2px solid var(--white);
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: fit-content;
  margin: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: -1px -1px 0 var(--dark-grey), 1px -1px 0 var(--dark-grey),
    -1px 1px 0 var(--dark-grey), 1px 1px 0 var(--dark-grey);
  cursor: pointer;
}

/* seller listing on large view */
.rm-listing {
  background-color: #404040;
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 12px;
}
.rm-listing p {
  margin: 0;
  padding: 0;
}

/* Purchase Modal */
.rm-purchase-modal .modal-content {
  background-color: var(--dark-grey);
}

/* Sign in and Sign up modal */
.rm-account-modal .modal-content {
  background-color: var(--dark-grey);
  max-width: 450px;
}

.rm-modal-switch {
  font-size: 0.9rem;
}

.rm-sign-user {
  padding-left: 13%;
  padding-right: 13%;
}

.rm-sign-user-title {
  padding-left: 13%;
  padding-right: 13%;
}

.rm-sign-user input {
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px #989898;
}
.rm-sign-user label {
  margin-bottom: 2px;
  font-size: 14px;
}

.rm-sign-user button {
  text-align: center !important;
  margin-top: 20px;
  margin-bottom: 5px;
}

.rm-sign-error {
  color: #ff6a49;
  padding-top:5px;
}

.form-select {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

/* Button Styles */
.btn-primary {
  background-color: #ea6797;
  border: none !important;
}

.btn-primary:hover {
  background-color: #d34579;
}

.btn-primary:active {
  background-color: #d34579 !important;
}
