:root {
  --background-color: var(--dark-grey);
  --primary-color: #8591ce;
  --secondary-color: #eca2bd;
  --dark-grey: #2d2d2d;
  --med-dark-grey: #6a6a6a;
  --med-grey: #989898;
  --light-grey: #d9d9d9;
  --red: #e66779;
  --green: #a2d5c6;
  --blue: var(--primary-color);
  --white: #fff;
  --black: #000;
}

/* override body styles */
body {
  background: var(--background-color);
  /* default text colors: change maybe? */
  color: var(--light-grey);
}

/* Scrollbar styles */
/* TODO: PICK SCROLLBAR COLORS */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--secondary-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.rm-primary-color {
  color: var(--primary-color);
}
.rm-secondary-color {
  color: var(--secondary-color);
}
.rm-dark-grey {
  color: var(--dark-grey);
}
.rm-med-dark-grey {
  color: var(--med-dark-grey);
}
.rm-med-grey {
  color: var(--med-grey);
}
.rm-light-grey {
  color: var(--light-grey);
}
.rm-red {
  color: var(--red);
}
.rm-green {
  color: var(--green);
}
.rm-blue {
  color: var(--blue);
}
.rm-white {
  color: var(--white);
}
.rm-black {
  color: var(--black);
}

/* Font size */
.rm-xl-font {
  font-size: 2rem;
}
.rm-lg-font {
  font-size: 1.25rem;
}
.rm-md-font {
  font-size: 1rem;
}
.rm-sm-font {
  font-size: 0.875rem;
}
.rm-xs-font {
  font-size: 0.625rem;
}

.rm-curser-pointer {
  cursor: pointer;
}

/* Nav Bar Styles */
.rm-nav {
  max-width: 100%;
  height: 80px;
  position: sticky;
  top: 0rem;
  padding-left: 40px !important;
  margin: 0px !important;
  z-index: 1000;
  /* TODO: new navbar color? */
  background-color: var(--background-color);
}

.rm-search {
  border-radius: 20px;
  width: 75%;
  height: 40px;
  margin-right: 200px;
}

/* Carousel styles */
.rm-carousel-container {
  position: relative;
  border-left: 2vw solid var(--background-color);
  border-right: 2vw solid var(--background-color);
}

.rm-carousel {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-snap-type: x mandatory;
}

.rm-carousel-item {
  scroll-snap-align: start;
}

.rm-carousel-button {
  background-color: white;
  position: absolute;
  width: fit-content;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  top: 50%;
}

/* Profile */
#rm-profile-picture {
  width: 25vw;
  height: 25vw;
}

.rm-private-both {
  color: magenta; /* temporary, just for skeleton modeling */
}

.rm-private-seller {
  color: red; /* temporary, just for skeleton modeling */
}

.rm-private-buyer {
  color: blue; /* temporary, just for skeleton modeling */
}

/* small pokemon */
.rm-small-pokemon {
  position: relative;
  width: 300px;
  height: 190px;
  background-color: var(--primary-color);
  border-radius: 12px;
  margin: 20px;
  margin-top: 120px;
  padding: 6px;
  cursor: pointer;
}
.rm-small-pokemon .rm-pokemon-name-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, var(--secondary-color));
  opacity: 0.5;
  border-radius: 0 0 12px 12px;
  margin: 0;
  padding: 0;
}
.rm-small-pokemon .rm-pokemon-name {
  position: absolute;
  bottom: 5%;
  left: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  padding-right: 5%;
  text-shadow: 1px 1px 1px var(--dark-grey);
}
.rm-small-pokemon .rm-pokemon-image {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 5%;
  transition: all 0.25s ease-in-out;
}

/* hover animation */
.rm-small-pokemon:hover .rm-pokemon-image {
  bottom: 15%;
  transition: all 0.25s ease-in-out;
}

/* large pokemon view */
.rm-large-pokemon {
  padding-left: 15%;
  padding-right: 15%;
}
.rm-large-pokemon .rm-pokemon-name {
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: bold;
  color: var(--white);
  text-align: center;
  margin: 0;
  padding: 0;
}
.rm-large-pokemon .rm-pokemon-image {
  width: 30vw;
  min-width: 300px;
  height: 30vw;
  min-height: 300px;
  border-radius: 5%;
  padding: 5px;
  background-color: var(--light-grey);
  margin-right: 10px;
}
.rm-large-pokemon .rm-pokemon-info {
  font-size: 1rem;
}
/* seller listing on large view */
.rm-listing {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 6px;
}
.rm-listing p {
  margin: 0;
  padding: 0;
}

/* small pokemon */
.rm-small-pokemon {
  position: relative;
  width: 300px;
  height: 190px;
  background-color: var(--primary-color);
  border-radius: 12px;
  margin: 20px;
  margin-top: 120px;
  padding: 6px;
  cursor: pointer;
}
.rm-small-pokemon .rm-pokemon-name-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, var(--secondary-color));
  opacity: 0.5;
  border-radius: 0 0 12px 12px;
  margin: 0;
  padding: 0;
}
.rm-small-pokemon .rm-pokemon-name {
  position: absolute;
  bottom: 5%;
  left: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  padding-right: 5%;
  text-shadow: 1px 1px 1px var(--dark-grey);
}
.rm-small-pokemon .rm-pokemon-image {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 5%;
  transition: all 0.25s ease-in-out;
}

/* hover animation */
.rm-small-pokemon:hover .rm-pokemon-image {
  bottom: 15%;
  transition: all 0.25s ease-in-out;
}

/* large pokemon view */
.rm-large-pokemon {
  padding-left: 15%;
  padding-right: 15%;
}
.rm-large-pokemon .rm-pokemon-name {
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: bold;
  color: var(--white);
  text-align: center;
  margin: 0;
  padding: 0;
}
.rm-large-pokemon .rm-pokemon-image {
  width: 30vw;
  min-width: 300px;
  height: 30vw;
  min-height: 300px;
  border-radius: 5%;
  padding: 5px;
  background-color: var(--light-grey);
  margin-right: 10px;
}
.rm-large-pokemon .rm-pokemon-info {
  font-size: 1rem;
}
/* seller listing on large view */
.rm-listing {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 6px;
}
.rm-listing p {
  margin: 0;
  padding: 0;
}

/* Sign in and Sign up modal */
.rm-account-modal .modal-content {
  background-color: var(--dark-grey);
}
